.App {
  text-align: center;
}

.header-block {
  display: flex;
  width: 434px;
  margin: 15px auto;
  justify-content:space-between;
  align-items: center;

}
.headerText {
  font-size: 14px;
}
.headerLog {
  font-weight: 700;
  color: #ff6d69;
  cursor: pointer;
}
.headerTitle {
  font-size: 22px;
  font-weight: 600;
  
}
.postForm {
  margin: auto; 
}
.postForm input {
  padding: 15px;
  display: block;
  min-width: 400px;
  margin: 15px auto;
}
select {  
  padding: 15px;
  display: block;
  min-width: 434px;
  margin: 15px auto;}
.btn {
  padding: 10px 25px;
  border-radius: 3px;
  border: 0px;
  background-color: #ff6d69;
  font-weight: 600;
  color: #fff;
}
.btn:hover {
  background-color: #d8524e;
}
.agree input {min-width: 20px; margin-right: 5px;}
.agree {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 15px 0;
  font-size: 14px;
} 
.err {background-color: #ff6d69; color: floralwhite; margin: 0; }
.authBlock { 
  background-color: #fecc50;   
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.authText {margin-right: 10px;}
.hide {display: none;}